body {
	background-color: #B1BBF8;
	width: 90vw;
	margin: 5rem auto;
	margin-bottom: 2rem;
	font-size: 2rem;
	font-family: Helvetica;
	font-family: 'Raleway', sans-serif;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	align-items: center;
}


header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

header nav ul li {

}

header nav ul li a {
	font-size: 1.25rem;
	font-weight: 600;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-decoration: none;
	transition: background-color 2000ms linear;
	transition: color 1000ms linear;
}

header nav ul li a.selected {
	color: black;
	text-decoration: none;
	font-size: 1.50rem;
	border-bottom: 2px solid black;
}

header {
	margin-bottom: 20rem;
	height: 6rem;
}

.mc {
	column-count: 3;
	position: relative;
}

.image {
	break-inside: avoid;
	display: inline-block;
	margin-bottom: 10px;
	overflow: hidden;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 200;
	margin-bottom: 2rem;
	color: black;
}

main p {
	color: #514F59;
	font-size: 2.75rem;
	line-height: 3.25rem;
	margin-bottom: 3rem;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
	column-span: all;
}

.intro {
	color: #514F59;
	font-size: 1.40rem;
	line-height: 2rem;
	margin-bottom: 3rem;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 100%;

}

main img {
	display: block;
	margin: 0 auto 1rem auto;
}

main h3 {
	font-family: 'Abril Fatface';
	font-size: 8.25rem;
	font-weight: 600;
	margin-bottom: 2rem;
	color: black;
}

main h4 {
	color: black;
	font-size: 2.25rem;
	font-weight: 600;
}

main h5 {

}

main h6 {
	font-size: 0.9rem;
	color: #343a40;
	font-weight: 600;
}

.speciaal {
	color: black;
	font-weight: 200;
	font-size: 1.50rem;
	margin-bottom: 2rem;
	line-height: 2rem;
}

main ul.blog li a {
	color: firebrick;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	margin-bottom: 10rem;
}

a {
	display: block;
	margin-bottom: 2rem;
	text-decoration: none;
	color: black;
}

footer p {
	color: black;
	font-style: italic;
	font-weight: 400;
}

footer {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

a.socials:hover {text-decoration: underline;}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

.loader {
	display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid black;
	border-radius: 25px;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: black;
  animation: loader-inner 2s infinite ease-in;
}

.info {
	grid-column: 1;
	grid-row: 1;
	height: 3rem;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
		transform: rotateX(0deg);

  }

  25% {
    transform: rotate(180deg);
		transform: rotateX(180deg);
  }

  50% {
    transform: rotate(180deg);
		transform: rotateX(180deg);

  }

  75% {
    transform: rotate(360deg);
		transform: rotateX(360deg);
  }

  100% {
    transform: rotate(360deg);
		transform: rotateX(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.disppear {
	animation: vanish 1s forwards;

}

@keyframes vanish {
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

.blok2 h3 {margin-bottom: 6rem; padding: 0; font-size: 10rem; text-align: center;}


@media (max-width: 800px) {
	.ventje {
		display: none;
	}
	main h4 {
		font-size: 90%;
	}
	.speciaal {
		font-size: 70%;
	}
	.mc {
		column-count: 1;
	}
}

@media (max-width: 1200px) {
	main .blok1 h3 {font-size: 8rem;}
	main .blok2 h3 {font-size: 8rem; text-align: center;}
	main .blok2 {display: grid; grid-template-columns: 1fr;}
}

@media (min-width: 800px) {

	.blok2 h3 {padding: 0; font-size: 12.5rem; text-align: right;}

	.blok2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.ventje {
		height: 2.5em;
	  width: 2.5em;
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: none;
		margin-bottom: 0;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header h1 a {
		position: absolute;
		top: 7rem;
		left: 5vw;
		padding-left: 5px;
		padding-right: 5px;
	}

	header h1 {
		border-right: 2px solid black;
		width: 15.5em;
	}

	header {
		display: grid;
		grid-template-columns: 30% 1fr;
		border: 2px solid black;
		border-left: none;
		border-right: none;
		margin-bottom: 10rem;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 7rem;
		right: 5vw;
	}

	header nav ul li a {
		font-size: 1.50rem;
	}
}
