body {
	background-color: #B1BBF8;
	width: 90vw;
	margin: 5rem auto;
	font-size: 2rem;
	font-family: Helvetica;
	font-family: 'Raleway', sans-serif;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	font-family: 'Abril Fatface', sans-serif;
	align-items: center;
}


header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

header nav ul li {

}

header nav ul li a {
	font-size: 1.25rem;
	font-weight: 600;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
	text-decoration: none;
	transition: background-color 2000ms linear;
	transition: color 1000ms linear;
}

header nav ul li a.selected {
	color: #6A00F4;
	border-bottom: 2px solid #6A00F4;
	text-decoration: none;
	font-size: 1.50rem;
	font-weight: 600;
}

header nav ul li a:hover {
	color: #6A00F4;
}

header {
	margin-bottom: 20rem;
	height: 6rem;
}

.mc {
	max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr;
  align-items: start;
}

main h2 {
	font-family: 'Abril Fatface';
	color: white;
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 2rem;
	color: #6A00F4;
	column-span: all;
}

main p {
	grid-column: 1;
	color: #514F59;
	font-size: 1.40rem;
	line-height: 2rem;
	margin-bottom: 3rem;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
	column-span: all;
}

img {
	max-width: 100%;

}

main img {
	display: block;
	margin: 0 auto 1rem auto;
}

main h3 {
	color: white;
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
	column-span: all;
}

main ul.blog li a {
	color: firebrick;
}

main ul.blog li {
	margin-bottom: 2rem;
}

main {
	column-count: 2;
}

a {
	display: block;
	margin-bottom: 2rem;
	break-inside: avoid;
	text-decoration: none;
	color: black;
}

footer p {
	color: black;
	font-style: italic;
	font-weight: 400;
}



.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	background-color: #B1BBF8;
}

.loader {
	display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #6A01F4;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #6A01F4;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.disppear {
	animation: vanish 1s forwards;

}
@keyframes vanish {
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

@media (max-width: 800px) {
	.ventje {
		display: none;
	}
}

@media (min-width: 800px) {
	.ventje {
		height: 2.5em;
	  width: 2.5em;
		grid-row: 1/3;
		grid-column: 2/4;
		position: absolute;
		left: -40em;
		top: 30.7rem;
		display: inline-block;
	}

	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40rem;
		margin-top: 0;
	}

	header h1 a {
		position: absolute;
		top: 7rem;
		left: 6.5vw;
	}

	header h1 {
		border-right: 2px solid black;
	}

	header {
		display: grid;
		grid-template-columns: 30% 1fr;
		border: 2px solid black;
		margin-bottom: 10rem;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 7rem;
		right: 10vw;
	}

	header nav ul li a {
		font-size: 1.50rem;
	}

	main {
		column-count: 3;
	}
}
